<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!--
    Sitecore.XA.Foundation.Variants.Abstractions.config
    -->
    <pipelines>
      <httpRequestEnd>
        <processor type="Sitecore.Support.XA.Foundation.Variants.Abstractions.Pipelines.HttpRequestEnd.RemoveTemplateRenderer, Sitecore.Support.12156.12350" />
      </httpRequestEnd>
    </pipelines>
    <services>
      <configurator type="Sitecore.Support.XA.Foundation.Variants.Abstractions.Pipelines.IoC.RegisterVariantsAbstractionsServices, Sitecore.Support.12156.12350" patch:after="*[@type='Sitecore.XA.Foundation.Variants.Abstractions.Pipelines.IoC.RegisterVariantsAbstractionsServices, Sitecore.XA.Foundation.Variants.Abstractions']" />
    </services>
  </sitecore>
</configuration>